.homes-list-home-info {
  position: fixed;
  top: 15%;
  left: 25%;
  height: 25rem;
  width: 30rem;
  padding-top: 1.5rem;
  border: 3px solid black;
  background: #eaf0d2;
}

.homes-list-home-info .home-list-home-info-close {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  margin: 0.2rem 0.2rem 0 0;
  border: 1.5px solid black;
  border-radius: 50%;
}

.homes-list-home-info .home-list-home-info-close:before, .homes-list-home-info .home-list-home-info-close:after {
  position: absolute;
  content: ' ';
  right: 15px;
  height: 20px;
  width: 2px;
  background: black;
}

.homes-list-home-info .home-list-home-info-close:hover {
  -webkit-transition: background 1s;
  transition: background 1s;
  background: #d4bbbb;
}

.homes-list-home-info .home-list-home-info-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.homes-list-home-info .home-list-home-info-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.homes-list-home-info .homes-list-home-info-type-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homes-list-home-info .home-list-home-info-visuals {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.homes-list-home-info .home-list-home-info-visuals .home-list-home-info-visuals-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0 0 0;
  background: #e0e9bf;
  max-width: 400px;
}

.homes-list-home-info .home-list-home-info-visuals .home-list-home-info-visuals-tabs * {
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.3rem;
  border: 1px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: none;
}

.homes-list-home-info .home-list-home-info-visuals .home-list-home-info-visuals-tabs *::-moz-selection {
  background: none;
}

.homes-list-home-info .home-list-home-info-visuals .home-list-home-info-visuals-tabs *::selection {
  background: none;
}

.homes-list-home-info .home-list-home-info-visuals .home-list-home-info-map {
  overflow: hidden;
}

.homes-list-home-info .home-list-home-info-visuals .home-list-home-info-map iframe {
  position: relative;
  top: -2.7rem;
}

.home-list-home-info-visuals .home-list-home-info-visuals-hidden {
  display: none;
}

.homes-list-home-info-hidden {
  visibility: hidden;
}

.homes-list-home-info-visible {
  visibility: visible;
}
/*# sourceMappingURL=HomeInfo.css.map */