$full_background: #eaf0d2;

.homes-list {
    // filter: blur(3px);
    // pointer-events: none;
}
.navigation {
    // pointer-events: none;
}

// .homes-list-page {
    .homes-list-home-info {
        position: fixed;
        top: 15%;
        left: 25%;
        height: 25rem;
        width: 30rem;
        padding-top: 1.5rem;
        border: 3px solid black;
        background: $full_background;
        .home-list-home-info-close {
            cursor: pointer;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 0;
            right: 0;
            height: 30px;
            width: 30px;
            margin: 0.2rem 0.2rem 0 0;
            border: 1.5px solid black;
            border-radius: 50%;
        }
        .home-list-home-info-close:before, .home-list-home-info-close:after {
            position: absolute;
            content: ' ';
            right: 15px;
            height: 20px;
            width: 2px;
            background: black;
        }
        .home-list-home-info-close:hover {
            transition: background 1s;
            background: #d4bbbb;
        }
        .home-list-home-info-close::before {
            transform: rotate(45deg);
        }
        .home-list-home-info-close:after {
            transform: rotate(-45deg);
        }
        .homes-list-home-info-type-price {
            display: flex;
            justify-content: space-between;
        }
        .home-list-home-info-visuals {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            .home-list-home-info-visuals-tabs {
                display: flex;
                padding: 0.5rem 0 0 0;
                background: #e0e9bf;
                max-width: 400px;
                * {
                    cursor: pointer;
                    margin: 0 0.5rem;
                    padding: 0.3rem;
                    border: 1px solid black;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    border-bottom: none;
                }
                *::selection {
                    background: none;
                }
            }
            .home-list-home-info-map {
                overflow: hidden;
                iframe {
                    position: relative;
                    top: -2.7rem;
                }
            }
        }
    }
    .home-list-home-info-visuals {
        .home-list-home-info-visuals-hidden {
            display: none;
        }
    }
    .homes-list-home-info-hidden {
        visibility: hidden;
    }
    .homes-list-home-info-visible {
        visibility: visible;
    }
// }