.navigation {
    .navigation-items {
        
    }
}

.navigation {
    margin-bottom: 1rem;
    .navigation-items {
        display: flex;
        .navigation-item {
            cursor: pointer;
            text-decoration: none;
            color: darkblue;
            margin: 0 0.5rem;
            font-size: 1.3rem;
            padding-bottom: 0.1rem;
            border-bottom: 2px solid lightgray;
            transition: border-bottom .5s;
        }

        .navigation-item:hover {
            border-bottom: 2px solid red;
        }
    }
}