.navigation {
  margin-bottom: 1rem;
}

.navigation .navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navigation-items .navigation-item {
  cursor: pointer;
  text-decoration: none;
  color: darkblue;
  margin: 0 0.5rem;
  font-size: 1.3rem;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid lightgray;
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
}

.navigation .navigation-items .navigation-item:hover {
  border-bottom: 2px solid red;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.2rem;
}

.navigation .navigation-emptySpace {
  width: 20%;
}
/*# sourceMappingURL=Navigation.css.map */