.home {
    .home-nearYou {
        margin: 7rem 0 6rem 0;
        .header {
            margin: 1.5rem 0;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
        }
        .images-buttons {
            display: flex;
            overflow: hidden;
            justify-content: center;
            .images {
                display: flex;
                overflow: hidden;
                scroll-behavior: smooth;
                .image {
                    cursor: pointer;
                    margin: 0 1rem;
                    display: inline-block;
                    position: relative;
                    img {
                        height: 12rem;
                        width: 20rem;
                    }
                    *::selection {
                        background: none;
                    }
                    .days-since, .bottom-information {
                        position: absolute;
                        bottom: 0.5rem;
                        left: 1.3rem;
                    }
                    .days-since {
                        top: 0.1rem;
                        left: 1.3rem;
                    }
                }
                .image-first-child {
                    margin-left: 2rem;
                }
                .image-last-child {
                    margin-right: 0;
                    padding-right: 2rem;
                }
            }
            display: flex;

        }
        .button-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .left, .right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .arrow-wrapper {
                    display: flex;
                    justify-content: center;
                    .arrow {
                        height: 1.5rem;
                        width: 1.5rem;
                        border-bottom: 2px solid black;
                        border-left: 2px solid black;
                    }
                    .arrow-disabled {
                        border-color: gray;
                    }
                }
            }
            .left {
                margin-left: 1rem;
                .arrow {
                    transform: rotate(45deg);
                }
            }
            .right {
                margin-right: 1rem;
                .arrow {
                    transform: rotate(-135deg);
                }
            }
        }
    }
}