@import '_search-area.scss';

.home-search-image {
    .home-search-searchBox {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 10rem;
        bottom: 5.5rem;
        left: 5%;
        background: #605191;
        box-sizing: border-box;
        width: 90%;
    }
}

.home-search-image {
    .home-search-searchBox {
        .header, .information {
            text-align: center;
        }
    }
}

.home-search-image {
    .home-search-searchBox {
        .header {
            font-size: 2rem;
            font-weight: 450;
            color: #93ddcb;
        }
        .information {
            font-size: 1.3rem;
            font-weight: 400;
            color: #71aa74;
        }
    }
}