.home-search-image {
    .home-search-searchBox {
        .search-area {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }
    }
}

.home-search-image {
    .home-search-searchBox {
        .search-area > * {
            border-radius: 3px;
        }
        .search-area {
            .search-input {
                width: 30rem;
                padding: 0.5rem;
                box-shadow: #5532c9;
            }
            .buy-button, .rent-button {
                cursor: pointer;
                text-decoration: none;
                user-select: none;
                
                color: black;
                font-weight: 500;
                padding: 0.5rem 2rem;
                margin: 0 0.5rem;
                background: #5532c9;
            }
            .buy-button:visited, .rent-button:visited {
                color: black;
            }
        }
    }
}