.home-search {
    display: flex;
    justify-content: center;
    position: relative;
}

.home-search {
    .home-search-image {
        height: 16rem;
        width: 55rem;
    }
    
    .home-search-image img {
        width: 100%;
        height: 100%;
    }
}