.home-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home-search .home-search-image {
  height: 16rem;
  width: 55rem;
}

.home-search .home-search-image img {
  width: 100%;
  height: 100%;
}

.home-search-image .home-search-searchBox .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.home-search-image .home-search-searchBox .search-area > * {
  border-radius: 3px;
}

.home-search-image .home-search-searchBox .search-area .search-input {
  width: 30rem;
  padding: 0.5rem;
  -webkit-box-shadow: #5532c9;
          box-shadow: #5532c9;
}

.home-search-image .home-search-searchBox .search-area .buy-button, .home-search-image .home-search-searchBox .search-area .rent-button {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
  font-weight: 500;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  background: #5532c9;
}

.home-search-image .home-search-searchBox .search-area .buy-button:visited, .home-search-image .home-search-searchBox .search-area .rent-button:visited {
  color: black;
}

.home-search-image .home-search-searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 10rem;
  bottom: 5.5rem;
  left: 5%;
  background: #605191;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
}

.home-search-image .home-search-searchBox .header, .home-search-image .home-search-searchBox .information {
  text-align: center;
}

.home-search-image .home-search-searchBox .header {
  font-size: 2rem;
  font-weight: 450;
  color: #93ddcb;
}

.home-search-image .home-search-searchBox .information {
  font-size: 1.3rem;
  font-weight: 400;
  color: #71aa74;
}

.home .home-nearYou {
  margin: 7rem 0 6rem 0;
}

.home .home-nearYou .header {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.home .home-nearYou .images-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
}

.home .home-nearYou .images-buttons .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.home .home-nearYou .images-buttons .images .image {
  cursor: pointer;
  margin: 0 1rem;
  display: inline-block;
  position: relative;
}

.home .home-nearYou .images-buttons .images .image img {
  height: 12rem;
  width: 20rem;
}

.home .home-nearYou .images-buttons .images .image *::-moz-selection {
  background: none;
}

.home .home-nearYou .images-buttons .images .image *::selection {
  background: none;
}

.home .home-nearYou .images-buttons .images .image .days-since, .home .home-nearYou .images-buttons .images .image .bottom-information {
  position: absolute;
  bottom: 0.5rem;
  left: 1.3rem;
}

.home .home-nearYou .images-buttons .images .image .days-since {
  top: 0.1rem;
  left: 1.3rem;
}

.home .home-nearYou .images-buttons .images .image-first-child {
  margin-left: 2rem;
}

.home .home-nearYou .images-buttons .images .image-last-child {
  margin-right: 0;
  padding-right: 2rem;
}

.home .home-nearYou .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home-nearYou .button-wrapper .left, .home .home-nearYou .button-wrapper .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home-nearYou .button-wrapper .left .arrow-wrapper, .home .home-nearYou .button-wrapper .right .arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home-nearYou .button-wrapper .left .arrow-wrapper .arrow, .home .home-nearYou .button-wrapper .right .arrow-wrapper .arrow {
  height: 1.5rem;
  width: 1.5rem;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.home .home-nearYou .button-wrapper .left .arrow-wrapper .arrow-disabled, .home .home-nearYou .button-wrapper .right .arrow-wrapper .arrow-disabled {
  border-color: gray;
}

.home .home-nearYou .button-wrapper .left {
  margin-left: 1rem;
}

.home .home-nearYou .button-wrapper .left .arrow {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.home .home-nearYou .button-wrapper .right {
  margin-right: 1rem;
}

.home .home-nearYou .button-wrapper .right .arrow {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.home-disabled {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=Home.css.map */