.homes-list {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .listings {
        .listing-item {
            display: flex;
            flex-direction: column;
            width: 28rem;
            .item-title {
                display: flex;
                justify-content: center;
                .item-title-text {
                    cursor: pointer;
                    text-align: center;
                    font-size: 1.3rem;
                    color: blue;
                    text-decoration: underline;
                }
            }
            .item-description {
                font-size: 1.1rem;
                display: flex;
            }
        }
        .listing-item * {
            user-select: none;
        }
    }
}

.homes-list-disabled * {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}