.homes-list {
    .page-numbers {
        display: flex;
    }
    .page-numbers > * {
        margin: 0 0.2rem;
    }
    .page-number:hover, .page-numbers-direction:hover {
        color: blue;
        text-decoration: underline;
    }
    .page-number-highlight {
        color: blue;
        text-decoration: underline;
    }
}