.homes-list {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homes-list .listings .listing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28rem;
}

.homes-list .listings .listing-item .item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homes-list .listings .listing-item .item-title .item-title-text {
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
  color: blue;
  text-decoration: underline;
}

.homes-list .listings .listing-item .item-description {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homes-list .listings .listing-item * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.homes-list-disabled * {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.homes-list .page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homes-list .page-numbers > * {
  margin: 0 0.2rem;
}

.homes-list .page-number:hover, .homes-list .page-numbers-direction:hover {
  color: blue;
  text-decoration: underline;
}

.homes-list .page-number-highlight {
  color: blue;
  text-decoration: underline;
}

.homes-list-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=HomesList.css.map */